@import "src/styles/vars";

.main {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 623px;
  padding-top: 43px;
  position: relative;

  @include mobile {
    height: 311px;
    padding: 0;
    overflow: hidden;
  }
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: -1;

  @include mobile {
    display: none;
  }
}

.bgMobile {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: -1;

  @include not-mobile {
    display: none;
  }
}

.header {
  padding: 22px 44px;
  background: rgba(139, 167, 123, 0.85);
  backdrop-filter: blur(5px);
  margin-bottom: 32px;

  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.06em;
  color: #FFFFFF;

  @include mobile {
    padding: 11px 22px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}

.parameters {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 0 47px 0;

  @include mobile {
    display: none;
  }
}

.parameter {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.panel {
  width: 100%;
  height: 80px;
  padding: 0 39px;
  background: rgba(90, 90, 90, 0.85);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    display: none;
  }
}

.panelLink {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #FFFFFF;

  &:hover {
    opacity: 0.85;
  }
}