@import "src/styles/vars";

.container {
  position: sticky;
  bottom: 0;

  @include mobile {
    position: fixed;
    width: 300px;
  }
}

.arrow {
  position: absolute;
  bottom: 45px;
  right: 0;
  height: 100px;
  width: 100px;
  background: url("../../images/arrow/arrowPc.svg");

  &:hover {
    filter: brightness(1.1);
  }

  @include mobile {
    height: 50px;
    width: 50px;
    left: 0;
    right: unset;
    background-size: cover;
  }
}

.callButton {
  position: absolute;
  bottom: 45px;
  right: 0;
  height: 50px;
  width: 50px;
  background: url("../../images/common/callButton.svg");
}