@import "src/styles/vars";

.layout {
  max-width: 1200px;
  margin: 0 auto;
  transform-origin: top;

  @supports not (-moz-appearance:none){
    transform: scale(1) !important;
  }

  @include mobile {
    max-width: 300px;
    transform: unset !important;
    zoom: unset !important;
  }
}

