.container {
  padding: 40px;
  width: 1200px;
  background: #FFFFFF;
  position: relative;
  height: 90vh;
  overflow-y: auto;
}

.title {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.07em;
  color: #1D1D1F;
}