@import "src/styles/vars";

.header {
  height: 80px;
  display: none;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include mobile {
    display: flex;
  }
}

.location {
  display: flex;
}

.locationText {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #2D2D2D;
  margin-left: 8px;
}

.burger {
  margin-left: auto;
  width: 40px;
  height: 40px;
  background: url("../../images/header/Burger.svg");
}

.menu {
  position: absolute;
  top: 0;
  background: white;
  height: 206px;
  width: 300px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  opacity: 0;

  transition: opacity 200ms ease-out;
}

.closeButton {
  align-self: end;
  width: 40px;
  height: 40px;
  background: url("../../images/common/closeButton.svg");
  background-size: cover;
}

.navLinks {
  display: grid;
  grid-row-gap: 13px;
}

.navLink {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.06em;
  color: #000000;
  text-align: center;
}