.container {
  padding: 50px 40px;
  position: relative;
  margin-top: 64px;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: -1;
}

.title {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.list {
  display: grid;
  grid-row-gap: 50px;
  width: 737px;
  margin-top: 50px;
}

.row {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.col {
  display: grid;
  grid-row-gap: 20px;
}

.colTitle {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.colText {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}