@import "src/styles/vars";

.container {
  padding: 50px 40px;
  position: relative;
  margin-top: 64px;

  @include mobile {
    width: 100vw;
    margin-left: calc((300px - 100vw)/2);
    padding: 20px calc((100vw - 300px) / 2);
    margin-top: 0;
  }
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: -1;

  @include mobile {
    display: none;
  }
}

.bgMobile {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: -1;

  @include not-mobile {
    display: none;
  }
}

.title {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.06em;
  color: #FFFFFF;

  @include mobile {
    display: none;
  }
}

.titleMobile {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 24px;
  color: $color-black;
  margin-top: 40px;
  margin-bottom: 20px;
}

.list {
  display: grid;
  grid-row-gap: 50px;
  width: 737px;
  margin-top: 50px;

  @include mobile {
    width: 300px;
    margin-top: 20px;
  }
}

.row {
  display: flex;
  align-items: center;
  column-gap: 24px;

  @include mobile {
    column-gap: 20px;
  }
}

.col {
  display: grid;
  grid-row-gap: 20px;

  @include mobile {
    grid-row-gap: 10px;
  }
}

.colTitle {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.06em;
  color: #FFFFFF;

  @include mobile {
    font-size: 18px;
    line-height: 22px;
  }
}

.colText {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #FFFFFF;

  @include mobile {
    font-size: 16px;
    line-height: 140%;
  }
}