.container {
  margin-top: 64px;
}

.darkBg {
  background: #2D2D2D;
}

.title {
  margin-bottom: 50px;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.06em;
  color: #2D2D2D;
}

.titleLight {
  color: #FFFFFF;
}

.content {
  display: grid;
  grid-template-columns: 600px 560px;
  grid-gap: 40px;
  white-space: pre-wrap;
}

.contentPhoto {
  composes: content;
  grid-template-columns: 590px 590px;
  grid-gap: 20px;
}

.contentMixed {
  composes: content;
  grid-template-columns: 590px 560px;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
}